  <div class='container px-5 px-sm-0'>

   <div class='col-md-9 offset-md-3'>
      <div class='row'>
      <h2>MY症例</h2>
      <%= render 'clinicals/index', clinical: @clinicals %>
      </div>
    </div>

