<div class='container'>
  <h1>症例一覧</h1>
  <div class='row'>
    <p id="notice"><%= notice %></p>
    <div class="d-flex justify-content-center mb-2">
      <%= render 'searches/search' %>
    </div>
  </div>
  <%= render 'index', clinical: @clinical %>
</div>