<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">admin</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('投稿一覧へ', new_clinical_path) %>
    </ul>
  </div>
</div>